apiVersion: v1
kind: Secret
metadata:
  name: "cluster-{{ k3s_cluster_domain }}"
  namespace: "{{ argocd_namespace }}"
  labels:
    argocd.argoproj.io/secret-type: cluster
type: Opaque
stringData:
  name: "{{ k3s_cluster_domain }}"
  server: "https://{{ k3s_cluster_domain }}:6443"
  config: |
    {
      "bearerToken": "{{ argocd_sa_bearer_token }}",
      "tlsClientConfig": {
        "insecure": false,
        "caData": "{{ argocd_cluster_ca_data }}"
      }
    }
