apiVersion: "cilium.io/v2alpha1"
kind: CiliumL2AnnouncementPolicy
metadata:
  name: "default-l2-policy"
spec:
  serviceSelector: {}
  nodeSelector:
    matchExpressions:
      - key: kubernetes.io/os
        operator: In
        values:
          - linux
  interfaces:
    - "{{ cilium_interface_pattern }}"
  externalIPs: true
  loadBalancerIPs: true
